
.body {background-image: url(https://cdn4.vectorstock.com/i/1000x1000/42/28/blue-geometric-abstract-background-vector-21474228.jpg); width:100% ; }
hr {border-style:dotted none none none; border-width: 5px;
border-color: rgb(226, 205, 174);
width: 3%;}
h1 {color: #7A0BC0;}
h3 {color:#7A0BC0;}

