
.body {background-image: url(https://cdn.crello.com/api/media/small/461183668/stock-photo-abstract-colorful-polygonal-background); width:100% ; }
hr {border-style:dotted none none none; border-width: 5px;
border-color: rgb(226, 205, 174);
width: 3%;}
h1 {color: #7A0BC0;}
h3 {color:#7A0BC0;}

