
h1 {color: rgb(240, 8, 8);
font-size: 150px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

body {background-color:antiquewhite;}

p {font-size: 50px;
font-family: sans-serif;
text-align: center;
color: cornflowerblue;}

img{display:block;
margin-left:auto;
margin-right: auto;
width: 15%;}

img:hover{background-color: aqua;
display: circular }





