*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
body::-webkit-scrollbar {
    display: none;
}

.loader{
    position: fixed;
    background: black url("https://midknightstudio.com/assets/loading.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 999;
}
.main_container {
    width: 100%;
    min-height: 100vh;
}
.header{
    background-color: rgb(0,0,0,0.85);
}
nav{
    position:fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    z-index: 990;
    background-color: #0000;
    /* background-color: transparent; */
    transition: all 0.3s ease;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 50px;
    height: 30px;
}
.logo h2{
    font-weight: 300;
    font-size: 22px;
    color: white;
}
.nav_items{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav_items li{
    list-style: none;
    font-weight: 300;
    font-size: 16px;
}
.nav_items li a{
    text-decoration: none;
    color: rgb(255 255 255 / 55%);
    transition: all 0.3s;
}
.nav_items li a:hover{
    color: white;
}
.contact_btn{
    padding: .55rem 1.3rem;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    background-color: #0d6efd;
    transition: all 0.3s;
    cursor: pointer;
}
.contact_btn:hover{
    background-color: #0b5ed7;
}
.contact_btn a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(255 255 255 / 55%);
    transition: all 0.2s;
}
.contact_btn:hover a{
    color: #fff;
}
.nav_items div{
    padding: 5px 12px;
    border: 0.5px solid rgb(255 255 255 / 55%);
    border-radius: 8px;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
}
.nav_items div img{
    width: 30px;
}
.nav_items div:hover{
    border-width:2.5px  ;
}
.background_video{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
    /* filter: brightness(30%) contrast(160%); */
    /* animation: slow-motion 20s infinite linear; */
}
.title{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    height:calc(100vh);
}
.title img{
    width: 145px;
}
.visible{
    font-weight: 400;
    font-size: 10vh;
    text-align: center;
    background: linear-gradient(to left,#ff943e, #6f81f5, #ff8f3e);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.2;
    background-size: 200%; 
    visibility: hidden;
    /* visibility: visible; */
    animation: change_color 5s infinite linear , show_up 5s ease forwards 1s
}

@keyframes show_up {
    0%{
        opacity: 0;
        /* transform: scale(0.5); */
        backdrop-filter: blur(50px);

    }
    100%{
        opacity: 1;
        /* transform: scale(1); */
        backdrop-filter: blur(0);
    }
}

@keyframes change_color{
    100%{
        background-position: -200%;
    }
}

@media (min-height:750px){
    .logo h2{
        font-size:24px ;
    }
}

@media (max-width:1000px) {
    .nav_items li{
        display: none;
        }
    .contact_btn{
        display: none;
    }
    .nav_items div{
        display: inline-block;
    }

}

@media  (max-width: 650px){
    .title h1{
        font-size: 8vh;
    }
    .title img{
        width: 140px;
    }
}

@media  (max-width: 450px){
    .title h1{
        font-size: 6vh;
    }
    .title img{
        width: 130px;
    }
    .logo h2{
        display: none;
    }
    .nav_items div{
        padding: 4px 9px;
        border: 0.5px solid rgb(255 255 255 / 55%);
        border-radius: 8px;
    }
    .nav_items div img{
        width: 23px;
    }
    .main1{
        background-color: rgb(0, 0, 0,0.8);
    }
}

/**************** Section 2 starts here ******************/

.section2{
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub_div{
    display: flex;
    flex-direction: column;
    width: 85vw;
    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(32,32,32,1) 60%);
    /* background-color: blue; */
    border-radius: 25px;
    padding-bottom: 8vh;
}
.sub_div h1{
    font-size: 29px;
    font-weight: 600;
    padding-top:7.5vh ;
    padding-left: 5.2vw;
    padding-right: 5.2vw;
    padding-bottom: 3.2vh;
    color: white;
}
.sub_div h3{
    padding-left: 5.2vw;
    padding-right: 6.5vw;
    padding-bottom: 5.5vh;
    font-weight: 400;
    color: white;
    font-size: 17.5px;
}
.sub_sub_div{
    display: flex;
    align-self: center;
    width: 75vw;
    /* height:33vh; */
    border-radius:  10px;
    background-color: rgb(255 255 255 / 10%);
    gap: 2vw;
    padding: 7vh 1vw;
    justify-content:space-evenly;
    
}
.sub_sub_div img{
    width: 20vh;
}

@media (max-width:888px) {
    .sub_div{
        padding-bottom: 6vh;
    }
    .sub_div h1{
        font-size: 26px;
        padding-top:6vh ;
        padding-left: 6.5vw;
        padding-right: 6.5vw;
        padding-bottom: 3.2vh;
    }
    .sub_div h3{
        padding-left: 6.5vw;
        padding-right: 7.5vw;
        padding-bottom: 6.5vh;
        font-size: 16px;
    }
    .sub_sub_div{
        width: 75vw;
        /* height:25vh; */
        padding: 5vh 0;
    }
    .sub_sub_div img{
        width: 14vh
    }
}

@media (max-width:640px) {
    .sub_div{
        padding-bottom: 6vh;
    }
    .sub_div h1{
        font-size: 24px;
    }
    .sub_div h3{
        font-size: 14px;
    }
    .sub_sub_div{
        /* height:22vh; */
        padding: 5vh 0;
    }
    .sub_sub_div img{
        width: 11vh
    }
}

@media (max-width:500px) {
    .sub_div{
        margin-top: 10vh;
        width: 85vw;
        padding-bottom: 6vh;
    }
    .sub_div h1{
        padding-top: 4vh;
        text-align: center;
        font-size: 24px;
    }
    .sub_div h3{
        text-align: center;
        font-size: 16px;
    }
    .sub_sub_div{
        flex-wrap:wrap;
        width: 75vw;
        /* height:32vh; */
        padding: 3vh 0 ;
        gap: 4vh;
    }
    .sub_sub_div img{
        width: 11.5vh;
    }
}
@media (max-width:300px) {
    .sub_div h3{
        font-size: 15px;
    }
}

/**************** Section 3 starts here ******************/

.section3{
    padding-top: 12vh;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 778;
}
.sub_div_section3{
    padding-bottom: 6vh;
}
.sub_div_section3 h1{
    padding-top: 5vh;
}
.ofSection3{
    display: flex;
    /* align-items: center; */
    /* margin: 10% auto; */
    /* background-color: gray; */
    /* height:33vh; */
    /* background-color: gray; */
    border-radius:  10px;
    width:77vw;
    justify-content: flex-start;
    /* padding-left: 2vw; */
    padding: 3vh 2vw;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    align-self: center;
}
.gallery{
    display: flex;
    overflow-x:hidden;
    gap: 2vw;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vw;
    flex: none;
}
.img_contaianer{
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* justify-content: center; */
    /* width: 100%; */
}
.img_contaianer img{
    max-width:100%;
    height: 16.5vw;
    border-radius: 2vw;
    margin: 1vw 1vh;
    transition: transform 0.5s ease;
}
.img_contaianer img:hover{
    transform: scale(1.1);  
}
.img_contaianer h2{
    font-size: 23px;
    padding-top: 1vh;
    color: white;
    text-align: center;
}
.slider_btn{
    margin-top: 3vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn{ 
    width: 7.5vh;
    transition: transform 0.3s ease;
}
.nextbtn:hover{
    transform: scale(1.5);
}
.backbtn{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.backbtn:hover{
    transform: scale(1.4) rotate(180deg);
}

@media (max-width:888px){
    .img_contaianer h2{
        font-size: 20px;
    }
    .slider_btn{
        height: 5.5vw;
    }
    .img_contaianer img{
        height: 18vw;
    }
}

@media (max-width:770px){
    .wrapper{
        grid-template-columns: auto auto;
    }
    .img_contaianer img{
        height: 27vw;
        border-radius: 10px;
    }
}
@media (max-width:510px) {
    .wrapper{
        grid-template-columns: auto;
    }
    .img_contaianer img{
        border-radius: 15px;
        height: 65vw;
    }
    .img_contaianer h2{
        font-size: 18px;
    }
    .wrapper{
        grid-gap: 4vh;
    }
    .sub_div_section3 h3{
        font-size: 15px;
    }
}

/**************** Section 4 starts here ******************/

.section4{
    padding-top: 25vh;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 17vh;
}
.sub_container_section4{
    display: flex;
    width: 85vw;
    border-radius:25px;
    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(32,32,32,1) 60%);
    padding: 4vh 4.5vw;
    flex-direction: column;
    padding-bottom: 8vh;
}
.section4_items_container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vh;
    gap: 1.7vw;
}
.sub_container_section4 h1{
    padding-top: 1.7vh;
    padding-bottom: 1.3vh;
    font-size: 29px;
    font-weight: 600;
    color: white;
}
.items{
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 20%);
    align-items: center;
    justify-content: center;
    padding: 1vh 1vw;
    width: 24vw;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.7s ease;
}
.items:hover{
    transform: scale(1.08);
}

.items i{
    padding-top: 1vh;
    padding-bottom: 0.7vh;
    color: white;
}
.items h2{
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-align: center;
}
.items button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding: 0 1vw;
    transition: all 0.3s;
}
.items button:hover a{
    color:black
}
.items button{
    margin: 2.7vh 0;
    background-color: transparent;
    border:1px solid white;
    padding: 0.7vh 0vw;
    border-radius: 1vh;
    transition: all 0.5s;
}
.items button:hover{
    background-color: white;
}












/*****************  Footer starts here  *****************/

.footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sub_container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(20,20,20);
    padding: 5vh 0;
    gap: 4vh;

}
.social_media{
    display: flex;
    gap: 10px;

}
.social_media i{
    background-color:transparent;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    padding:10px;
    border-radius: 6px;  
}
.copyrights{
    color: gray;
    font-size: 20px;
}
