*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    /* background-color: #16171d; */
    background: #222;
    /* background: rgba(255, 255, 255, 0.4); */
}
.sub_container{
    display: flex;
    flex-direction: column;
    background-image:url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2429.jpg?t=st=1691325176~exp=1691325776~hmac=e866e9d057e30a83b0dfa03ba24e97a923480ec126778e04490da394b9213d72');
    background: linear-gradient(135deg,#00feba,#5b548a);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 28px;
    /* padding: 4vh 4vw; */
    border-radius: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.search_box{
    display: flex;
    /* padding: 25px 30px; */
    gap: 10px;
    align-items: center;
}
.search_box input{
    width: 250px;
    height: 48px;
    border-radius:999px;
    border: none;
    padding-left:15px;
    outline: none;
    font-size: 15px;
}
.search_box i{
    background-color: white;
    padding: 14px;
    border-radius: 999px;
    color: gray;
    cursor: pointer;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 69px; */
    display: none;
}
.content img{
    margin-top: 15px;
    width: 110px;
}
#temperature{
    font-size: 65px;
    color: white;
    font-weight: 500;
}
#city{
    font-size: 35px;
    color: white;
    font-weight: 400;
    line-height: 25px;
}
.extras{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    display: none;
}
.extras1{
    display: flex;
    gap: 8px;
}
.extras2{
    display: flex;
    align-items: center;
}
.extras2 img{
    width: 40px;
}
.extras3{
    display: flex;
    flex-direction: column;
    line-height:22px;
    margin-top: 24px;

}
.extras3 h2{
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.extras3 h5{
    font-weight: 400;
    color: white;
}